
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.App{
    height: 100vh;
    overflow: hidden;    
    background-color: rgb(45, 44, 41);
}

#card-container{
    position: relative;
    margin-top: 35rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100vw;
    bottom: 0rem;
    align-items: flex-end;
}




.cards{
    height: 15rem;
    width: 10rem;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

.inner-card{
    /* position: absolute; */
    background-color: wheat;
    height: 15rem;
    width: 10rem;
    border: 2px solid black;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}

#creature{
    height: 5rem;
    width: 5rem;
    background-color: burlywood;
    position: fixed;
    top: 40vh;
    left: 49vw;
}

#discard-pile{
    height: 15rem;
    width: 10rem;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 3px;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
}

#health-and-energy-container{
    position: absolute;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#health{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    background-color: red;
    border-radius: 10rem 10rem 0 0;
}

#energy{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 5rem;
    background-color: gray;
    border-radius: 10rem 10rem 0 0;
}

#deck-screen {
    position: absolute;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    z-index: 10;
    top: 0;
    /* margin: 5rem; */
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    background-color: white;
}

.deck-cards{
    height: 15rem;
    width: 10rem;
    border: 2px solid black;
    background-color: wheat;
    border-radius: 3px;
    position: relative;
    z-index: 1;
}

#drawPileScreen{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5vh;
    margin-left: 5vw;
    width: 90vw;
    height: 90vh;
    background-color: white;
    z-index: 10;
}
